# both conda and requirements
mlflow>=1.12.0
sklearn
transformers
torchtext
torch
pandas
# conda only -> needed for training
cloudpickle==1.6.0
boto3
torchvision
# requirements only -> needed for serving
torchserve
torch-model-archiver
numpy
tqdm
# extras
google-cloud-storage
mlflow-torchserve