<!DOCTYPE html>
<html  lang="en">
<head>
  <meta charset="UTF-8">
  <title>MLOps Engineering Lab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MLOps Engineering Labs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/mlops-labs-team1/engineering.labs">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://mlops.community/">Community</a>
          </li>

        </ul>
        </div>
    </nav>
    <!-- Input-->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm=8">
                <h1>News article classification</h1>
                <p>Input a news article below to predict whether it's a "World", "Sports", "Business", or "Science" article</p>
                <p>e.g. from <a href="https://www.bbc.com/news">BBC</a> or <a href="https://news.google.com">Google News</a></p>

                <div class="card">
                    <div class="card-body">
                         <!-- Main Input For Receiving Query to our ML -->
                        <form action="{{ url_for('predict')}}" method="post">
                            <div class="form-group">
                                <label for="textinput">Input news article</label>
                                <textarea id="textinput" class="form-control" name="news" placeholder="Paste news article here" required="required" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Predict type of news</button>
                        </form>
                    </div>
                </div>

               {% if prediction_text %}
                    <div class="card">
                        <div class="card-header">
                            {{ prediction_text }}
                        </div>
                        <div class="card-body">
                            {{ input }}
                        </div>
                        <div class="card-body">
                            <a href="/" class="btn btn-link" role="button">Clear</a>
                        </div>
                   </div>

               {% endif %}
            </div>
        </div>
    </div>

</body>
</html>
